body {
  margin : 0;
}
.navbar {
    background-color: #333;
    padding: 10px;
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #555;
  }




 /* for search bar */
  .search-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right : 28px;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .search-button, .signout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25px;
  }
  .signout-button {
    background-color : red;
  }